.topbar-one__right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mobile-menu-logo-box img {
    width: auto;
    height: 40px;
}

.main-slider-three__item {
    max-height: 70vh !important;
}
  
.banner-row {
    margin-top: calc(-3.75 * var(--bs-gutter-x)) !important;
}

.footer-widget__description-text {
    margin-bottom: 21px;
    color: var(--mediox-text-dark, #456EA1);
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
}
        

@media (max-width: 500px) {
    .banner-row {
        margin-top: calc(-1.75 * var(--bs-gutter-x)) !important;
    }
}