.env
.env.*
!.env.example
fiber-v2/static/uploads
fiber-v2/static/files/options
fiber-v2/static/files/subeler
fiber-v2/static/files/testimonials
fiber-v2/static/files/haberler
fiber-v2/static/files/job-applications
fiber-v2/static/files/customs
fiber-v2/static/files/branches
fiber-v2/static/files/tibbi_birimler
fiber-v2/static/files/tedkikler
fiber-v2/static/files/anlasmali_kurumlar
fiber-v2/static/files/doctors
fiber-v2/app.log
fiber-v2/blabla.html
fiber-v2/static/files/doktorlar

# Yedek klasorleri
fiber-v2/static/css.yedek/
fiber-v2/static/html.yedek/
fiber-v2/static/js.yedek/

# Yedek dosyalari
*.bak-*

# Derlenmis binary
fiber-v2/main/main

# Calisma ciktilari
nohup.out
